@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
}
:root {
  --Verydarkbluemainbg: hsl(217, 54%, 11%);
  --Verydarkbluecardbg: hsl(216, 50%, 16%);
  --Verydarkbluelinebg: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Verydarkbluemainbg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--Verydarkbluecardbg);
  display: flex;
  flex-direction: column;
  max-width: 390px;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 30px 30px;
}
.eq {
  width: 85%;
  height: 50%;
  border-radius: 10px;
  margin: 1.5em;
  z-index: 2;
  display: flex;
  position: relative;
}
.equilibrium {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.eq div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
.view-ic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view-ic:hover {
  background-color: hsla(178, 100%, 50%, 50%);
  border-radius: 10px;
  opacity: 1;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.3s;
}
.title:hover {
  color: hsl(178, 100%, 50%);
}

.card-desc {
  color: hsl(215, 51%, 70%);
  font-size: 19px;
  margin: 20px 0;
  line-height: 20px;
}
.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.value {
  margin: 0 50px 0 0px;
}
.value figure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  margin: 0 0 0 55px;
}
.time figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.the-line {
  color: var(--Verydarkbluelinebg);
  margin: 20px 0 10px;
  width: 100%;
}
.creator {
  width: 100%;
  margin: 0.3rem 0 2rem;
  display: flex;
  justify-content: flex-start;
}
.creator figure {
  display: flex;
  align-items: center;
}
.creator-icon {
  width: 40px;
  border: 1px solid var(--White);
  border-radius: 50%;
  margin-right: 1em;
}
.creator figure figcaption {
  color: hsl(215, 51%, 70%);
}
.creator figure figcaption strong {
  color: var(--White);
  transition: 0.3s;
}
.creator figure figcaption strong:hover {
  color: hsl(178, 100%, 50%);
}
